.toolbar-dropdown,
.slim-dropdown {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.toolbar-dropdown .wrap {
    height: var(--size-10);
}

.activate-row {
    display: flex;
    align-self: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
    width: 50%;
    margin-top: 16px;
}

.activate-row > * {
    flex-grow: 1;
    min-width: 0;
}

.menu-element {
    padding: 0;
}

.menu {
    padding: 8px;
    gap: 24px;
}

.menu > .form {
    gap: 24px;
}

.form {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.small-button {
    max-width: 4.4em;
    min-width: 0;
}

.medium-menu-button {
    max-width: 5.8em;
    max-height: 3em;
    min-width: 0;
    align-self: flex-end;
}

.small-menu-button {
    max-width: 4.4em;
    max-height: 3em;
    min-width: 0;
    align-self: flex-end;
}

.toolbar-button {
    height: var(--size-10);
    max-width: 5em;
    min-width: 0;
}

.toolbar-small-button {
    height: var(--size-10);
    max-width: 4.4em;
    min-width: 0;
}

#toolbar {
    width: 380px !important;
    display: flex;
    align-items: flex-end;
}