.toolbar-dropdown,
.ui-dropdown,
.slim-dropdown {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.activate-row {
    width: 50%;
    align-self: flex-end;
    margin-top: 8px;
}

.ui-dropdown {
    margin-bottom: 8px;
}

.toolbar-dropdown .wrap {
    height: var(--size-10);
}

.form {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.small-button {
    max-width: 4.4em;
    min-width: 0;
}

.toolbar-button {
    height: var(--size-10);
    max-width: 5em;
    min-width: 0;
}

#toolbar {
    width: 380px !important;
    display: flex;
    align-items: flex-end;
}

/*
gradio-app > :first-child {
    padding-left: var(--size-4) !important;
    padding-right: var(--size-4) !important;
}

.gradio-container {
    max-width: 100% !important;
    padding-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
*/